html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-color: #eeeeee;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    background-color: #1f2949;
    color: #fff;
    max-width: 330px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 30px 0px 30px 10px;
}

.busca{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}

.busca input::placeholder{
    color: #fff;
}

.busca input {
    background-color: #fff5;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    opacity: 0.8;
}

.busca .btn-busca{
    background-color: #fff5;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.8;
    transition: 0.3s;
}

.busca .btn-busca:hover{
    background-color: #c3b6b6;
    opacity: 0.3;
}

.busca .lupa{
    width: 30px;
    padding: 6px;
    opacity: 0.8;
}

.informacao-principal{
    margin: 30px;
}

.informacao-principal h1{
    font-size: 1.8rem;
}

.informacao-principal .temperatura{
    font-size: 6.8rem;
    margin: 20px 0;
}

.informacao-principal .condicao{
    font-size: 2rem;
}

.informacao-secundaria{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    padding: 20px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.informacao-secundaria .umidade, .informacao-secundaria .velocidade-do-vento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

